# temp builds directories
examples/*/*/install
examples/*/*/_builds
examples/*/_builds

# python cache
*/*/__pycache__

# temp
*/*/Install
*/*/*.tar.gz

# temp download
examples/*/gtest-1.7.0*-hunter/
examples/*/gtest-1.7.0*-hunter-2/

# temp macos
*/*/.DS_Store
